.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px;
}

.menu button:hover {
  background-color: #0056b3;
}
